@model ExamAutomation.Domain.Models.Exams

<h2>Create Exam</h2>

@{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Exam</legend>

        <div class="editor-label">
                    @Html.LabelFor(model => model.Title)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Title ,new {style = "width:60%"})
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description ,new {style = "width:80%"})
            @Html.ValidationMessageFor(model => model.Description)
        </div>

      
    </fieldset>
}


@await Component.InvokeAsync("Question",new {examId = Model.Id}) 


<div>
    @Html.ActionLink("Back to List", "Index")
</div>