@model ExamAutomation.Application.ViewModels.ExamListViewModel

@{
    ViewData["Title"] = "Index";
    var model = Model.ExamViewModels;
}


<p>
    <a asp-action="Create">Get Data From Wired</a>
    <br>
    It may take a while please wait ...
    <br>
    Datas will be list here..
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            Exam Title
        </th>
        <th>
            Question 1
        </th>
        <th>
            Question 2
        </th>
        <th>
            Question 3
        </th>
        <th>
           Question 4
        </th>
        
    </tr>
    </thead>
    <tbody>
        @foreach (var item in model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Exam.Title )
                </td>
                @foreach (var question in item.Questions)
                {
                    <td>
                        @Html.DisplayFor(modelItem => question.Question)
                    </td>
                }
                
                <td>
                    <a asp-action="SolveExam" asp-route-id="@item.Exam.Id">Solve Exam</a> |
                    <a asp-action="EditExam" asp-route-id="@item.Exam.Id">Add Questions</a> |
                    <a asp-action="Delete" asp-route-id="@item.Exam.Id">Delete</a>
                </td>
            </tr>
        }
       
    </tbody>
</table>